/* SIMPLE CSS */

/* ELEMENTS */

html,
body {
    font-family: "aktiv-grotesk", sans-serif;
    font-size: 17px;
}

body,
ul,
ol,
p,
blockquote {
    font-size: 17px;
    font-weight: 300;
}

p {
    line-height: 1.6;
    padding-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 1.3em;
    margin: 0.5rem 0 0.25rem 0;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
}

hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    clear: both;
    margin: 2rem auto;
}

b,
strong {
    font-weight: 500;
}

.entry-content ul {
    line-height: 1.4;
    list-style-position: outside;
    list-style-type: circle;
    padding: 0 0 1.5rem 2rem;
}

.entry-content ul li {
    list-style-type: circle;
    margin: 0 0 0.25rem 1rem;
}

.entry-content ol li {
    line-height: 1.5rem;
    margin: 0 0 0.5rem 2.5rem;
    padding-left: 10px;
}


/* LOGO SEARCH & NAV */

#logo {
    margin-left: -10px;
    max-height: 100%;
    padding: 1em 0;
    width: auto;
}

#et_top_search {
    display: inline-block;
}

.et-search-form input {
    background: 0 0;
    border: 1px #bbb solid;
    border-radius: 12px;
    bottom: 2em;
    color: #333;
    margin: auto;
    outline: none;
    padding: 12px;
    position: absolute;
    right: 30px;
    top: 2em;
    width: 90%;
}

#logo {
    margin-left: -10px;
    max-height: 100% !important;
    padding: 1em;
    padding-left: 0;
    width: auto;
}

/* TOP NAV */

/* dropdown transparency */
#main-header,
#main-header .nav li ul,
.et-search-form,
#main-header .et_mobile_menu {
    background-color: rgba(255, 255, 255, 0.95);
}

#top-menu li a {
    color: #a6192e;
}

#top-menu li a:hover,
#top-menu li li a:hover {
    color: midnightblue;
}

/* active page nav color */
#top-menu li.current-menu-item > a {
    color: slategray;
}


/* SECONDARY NAV */

.et_color_scheme_red #top-header {
    background: #59595b !important;
}

#et-secondary-nav li li a,
#top-header,
#top-header .et-social-icon a::before,
#top-header a {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* keep white links on scroll */
@media only screen and (min-width: 981px) {
    .et-fixed-header#top-header a {
        color: #fff;
    }
}

#et-secondary-menu ul li {
    line-height: 1;
}

#et-secondary-menu > ul > li a {
    color: #fff;
    display: inline-block;
    font-weight: 300;
    padding-bottom: 0.75em;
}

#et-secondary-nav a:link,
#et-secondary-nav a:visited {
    -webkit-font-smoothing: subpixel-antialiased;
    color: white;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-shadow: 1px 1px 1px #444;
}

#et-secondary-nav a:hover {
    color: white !important;
    letter-spacing: 0;
    opacity: 1 !important;
    text-decoration: underline;
}

#et-secondary-menu > ul > li a {
    color: #fff;
    display: inline-block;
    font-size: 14.5px !important;
    font-weight: 400;
    letter-spacing: 0.03em !important;
    padding-bottom: 0.75em;
    text-transform: uppercase;
}

/* LINKS */

/* content link defaults - sbcc branded colors */
.et_color_scheme_red a:link,
.et_color_scheme_red a:visited {
    color: #a6192e;
    font-weight: 400;
    text-decoration: none;
}

/* link defaults - hover */
.et_color_scheme_red a:hover,
.et_color_scheme_red a:focus {
    color: #5a4e86 !important;
    text-decoration: none;
}

.divi-subnav li a:link,
.divi-subnav li a:visited {
    border-bottom: 1px #ccc solid;
    color: #a6192e;
}

.divi-subnav li a:hover {
    color: #868986;
    color: #5a4e86 !important;
}

/* slider links */
.et_pb_slide_description a:link,
.et_pb_slide_description a:visited,
.et_pb_slide_description a:hover {
    font-weight: 500 !important;
    text-shadow: 1px 1px 1px #000 !important;
}

/* GENOO CLASS LISTS  */
/* REFERENCE: .class-list-box, .class-list-header, .class-list, .class-list-odd, .class-list-even,  .class-list-name, .class-list-time, .class-list-start, .class-list-sessions, .class-list-cost, .class-list-location, .class-list-instructor   */

.class-list-name {
    font-size: 1.03rem !important;
    font-weight: 500;
}

ul.class-list li {
    line-height: 1.4;
    list-style-type: none !important;
    margin: 0.75em 0;
    padding: 12px;
    padding-left: 12px;
}

ul.class-list li a {
    border-radius: 4px;
    color: #a6192e !important;
    padding: 2px 4px;
}

ul.class-list li a:hover {
    background: red;
    border-radius: 4px;
    color: white !important;
    padding: 2px 4px;
}

span.class-list-rseats:after {
    content: " - ";
}

/* BUTTONS */

button.et_pb_contact_submit.et_pb_button {
    background: #00abb1;
    border: 2px #555 solid;
    color: white !important;
    font-size: 1.1rem;
}

button.et_pb_contact_submit.et_pb_button:hover {
    background: #00abb1 !important;
    text-shadow: 1px 1px 1px #000 !important;
}

.et_color_scheme_red .btn-primary {
    background-color: #00abb1;
    border: 1px #555 solid !important;
    border-color: #555;
    color: #fff !important;
}

.et_color_scheme_red .btn-primary:hover {
    background-color: #00abb1 !important;
    border: 1px #333 solid;
    box-shadow: 3px 3px 3px #aaa;
    color: #fff !important;
}

/* fix focus color on slider buttons */
a.et_pb_button.et_pb_more_button:focus {
    color: white !important;
}

/* TODO */
a.btn.btn-primary.btn-lg {
    background-color: #00abb1;
    border: 1px #333 solid;
    border-radius: 0.25em;
    color: white !important;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-bottom: 1em;
    margin-top: 1.5em !important;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

/* TODO */
a.btn.btn-primary.btn-lg:hover {
    background-color: #009196 !important;
    border: 1px #000 solid;
    box-shadow: 3px 3px 5px #aaa;
    color: #fff !important;
    text-decoration: none;
}

/* NAME SPACED */

/* home */

/* blurb - 1st col links */
p.sel--news-item {
    background: #eee !important;
    border: 1px #ccc solid !important;
    border-radius: 4px !important;
    font-size: 1.075em !important;
    margin-top: 20px !important;
    padding: 10px !important;
}

/* main class pages titles */
.sel--section-head h2 {
    border-radius: 0.25em;
    font-size: 1.6rem;
    letter-spacing: 0.04em;
}

p.sel--news-item:hover {
    box-shadow: 1px 2px 8px #ccc !important;
}

p.sel--news-item:last-of-type {
    padding-bottom: 10px !important;
}

/* contact */
.sel--address_lg {
    display: inline-block;
    font-size: 18px;
    line-height: 1.4em;
    padding-bottom: 0.5em;
}

.sel--border-radius_medium img {
    border-radius: 0.5em;
}

/* images */
.sel--border-radius_medium img {
    border-radius: 0.5em;
}

/* FORMS INC GENOO */

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input.text,
input.title,
textarea,
select {
    background-color: #fff;
    border: 1px solid #bbb;
    color: #4e4e4e;
    padding: 6px 12px;
}

input::placeholder {
    color: slategray !important;
}

.et_pb_contact input,
.et_pb_contact textarea {
    background-color: #f9f9f9;
    border: medium none;
    border: 1px #999 solid;
    border-radius: 0.25em;
    box-sizing: border-box;
    color: #4e4e4e;
    font-size: 16px;
    padding: 16px;
    width: 100%;
}

label {
    font-family: "aktiv-grotesk", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0.04em;
}

#lcform label {
    color: #484848;
    font-family: "aktiv-grotesk" !important;
    font-weight: 400 !important;
    margin: 1em 0 0.5em 0;
}

/* newsletter interests button genoo */
.genooForm .form-button-submit {
    background-color: #00abb1 !important;
    background-image: none;
    border: 1px solid transparent;
    border-color: #555;
    border-radius: 4px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 3rem;
    padding: 10px 24px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    vertical-align: middle;
    white-space: nowrap;
}

.genooForm .form-button-submit:hover {
    background-color: #00abb1 !important;
    border: 1px #000 solid;
    box-shadow: 3px 3px 3px #aaa;
    text-shadow: 1px 1px 1px #000;
}

.gn-btn,
.gn-form input[type="submit"],
button.g-recaptcha.gn-btn {
  font-family: "aktiv-grotesque", sans-serif !important;
    background: #00abb1 !important;
    border: 1px #555 solid !important;
    border-color: #555;
    border-radius: 0.25em;
    box-shadow: 3px 3px 3px #aaa;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 16px !important;
    margin-top: 2rem !important;
    padding: 12px 16px;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
    width: 33% !important;
}

.gdprconsentmsg * {
    padding: 0.5rem !important;
}

.gdpr-mssg {
    padding: 1rem !important;
}

.input-half .genooShortcode #lcform .ext-form-input {
    width: 66%;
}

@media screen and (max-width: 600px) {
    .input-half .genooShortcode #lcform .ext-form-input {
        width: 100%;
    }

    /* help prevent word break on mobile */
    .et_pb_slider .et_pb_slide_0.et_pb_slide .et_pb_slide_description .et_pb_slide_title {
        font-size: 36px !important;
        letter-spacing: 0 !important;
    }

    .genooCTAShortcode #lcform textarea,
    .genooShortcode #lcform textarea {
        height: 250px;
        width: 100%;
    }
}

/* TODO -- why g-recaptcha? */
button.g-recaptcha {
    background: #00abb1 !important;
    border: 1px #555 solid !important;
    border-color: #555;
    border-radius: 0.25em;
    box-shadow: 3px 3px 3px #aaa;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 16px !important;
    padding: 12px 16px;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
    width: 33% !important;
}

button.g-recaptcha:hover {
    border: 1px #333 solid;
    box-shadow: none;
    text-shadow: 1px 1px 1px #000;
}

.genooForm .fielderror {
    color: red;
    font-weight: 500;
    padding: 3px 0;
}

span.gn-error-msg {
    font-family: "aktiv-grotesk" !important;
    font-weight: 500;
    padding-left: 4px;
}

button.g-recaptcha.gn-btn {
    margin-top: 1.5em !important;
}

.btn-lg {
    font-size: 1.1rem !important;
    letter-spacing: 1px;
}

.btn-default {
    background-color: steelblue;
    border-color: #ccc;
    color: #333;
    color: #fff !important;
    letter-spacing: 0.04em;
    text-shadow: 1px 1px 1px #000;
}

.btn-default:hover {
    background: steelblue !important;
    color: #fff !important;
}

a.et_pb_button {
    letter-spacing: 0.05em;
}

.et_pb_button {
    background: rgba(0, 0, 0, 0.3);
}

.btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.45;
    margin-bottom: 1em;
    padding: 10px 16px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.button-container button {
    margin-right: 0.5em;
}

.button-container button:last-of-type {
    margin-right: 0;
}


/* TODO */


#home-blurb-classes h4 > a {
    font-family: "akti©v-grotesk" !important;
    font-size: 1.175rem;
    font-weight: 400;
}

.et_pb_fullwidth_header .header-content {
    letter-spacing: 0.08em;
    padding: 10px;
    text-align: center;
}

a.et_pb_more_button.et_pb_button {
    margin-top: 0;
}

@media only screen and (min-width: 1350px) {
    .et_pb_section {
        padding: 2rem 0;
    }
}

/* PROJECT */

.project h2.entry-title {
    margin-top: 1em;
}


/* POSTS  */

@media screen and (max-width: 479px) {
    .et_pb_blog_grid h2,
    .et_pb_post h2 {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 12px;
        padding-bottom: 0;
    }
}

.et_pb_post a img {
    border-radius: 0.25em;
    max-width: 100%;
    vertical-align: bottom;
}

a.more-link {
    background: linear-gradient(to bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    border: 1px #ccc solid;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-top: 1em;
    padding: 4px 6px;
    text-align: center;
    text-transform: capitalize;
}

a.more-link:hover {
    background: linear-gradient(to bottom, #eef 0%, #efefef 51%, #eef 100%);
}

.et_pb_post h2 a {
    font-size: 22px !important;
    text-decoration: none;
}

.et_pb_blog_grid h2 a:link,
.et_pb_blog_grid h2 a:visited,
.et_pb_blog_grid h2 a:hover {
    color: indianred !important;
    font-weight: 500 !important;
    text-decoration: none;
}

.post-meta {
    border-bottom: 1px #ccc dotted;
    border-top: 1px #ccc dotted;
    margin: 10px 0;
    margin-bottom: 1em !important;
    padding-bottom: 5px !important;
    padding-top: 8px;
}



@media screen and (max-width: 479px) {
    .et_pb_slide_description h2.et_pb_slide_title {
        font-size: 34px !important;
        line-height: 1.2;
    }
}


/* FOOTER */

#main-footer {
    background-color: #1a1a1a;
}

#menu-footer-menu a {
    font-weight: 300;
    letter-spacing: 0.04em;
}

#menu-footer-menu a:hover {
    color: #6a9931 !important;
}

#menu-footer-menu a:link,
#menu-footer-menu a:visited {
    -webkit-font-smoothing: antialiased;
    color: #8ac63f;
    font-weight: 400;
    text-transform: uppercase;
}

/* fix overflow to next line, 4th column */
@media (min-width: 981px) {
    .et_pb_gutters3 .footer-widget {
        margin: 0 4% 4% 0;
    }
}

#footer-info,
#footer-info a {
    -webkit-font-smoothing: subpixel-antialiased;
    color: lightslategray;
    float: none !important;
    font-size: 16px;
    line-height: 4 !important;
    padding: 30px 0;
    text-align: center;
    text-align: center !important;
}

#footer-info p {
    color: lightslategrey;
    font-weight: 400;
    letter-spacing: 0.04rem;
}

#footer-info a {
    font-weight: 300;
}

#footer-info a:hover {
    color: #eee !important;
    opacity: 0.7;
}

.footer-widget .title {
    color: steelblue;
    font-size: 17px;
}

#footer-widgets .footer-widget {
    margin: 0 4% 4% 0;
}

#main-footer .footer-widget h4 {
    color: steelblue;
    margin-bottom: 0.25rem;
    text-align: left;
    text-transform: uppercase;
}

#footer-widgets .footer-widget li {
    margin-left: 2rem;
    padding-left: 1rem;
    position: relative;
}

#footer-widgets .footer-widget li a {
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
}

#footer-bottom {
    background: linear-gradient(black, firebrick);
}

/* MODULES */

/* slider */
.et_pb_slide_description h2.et_pb_slide_title {
    font-size: 40px !important;
    font-weight: 300 !important;
    text-shadow: 3px 3px 12px #000;
}

/* fullwidth header */
.et_pb_fullwidth_header {
    padding: 2rem 0 !important;
}

h1.et_pb_module_header,
.et_pb_fullwidth_header_subhead {
    font-weight: 300 !important;
}

.et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {
    margin: 0 auto !important;
    max-width: 1024px;
    padding: 0;
    width: 80%;
}

/* blurb */
.et_pb_blurb h4:first-of-type {
    color: #858585;
    font-size: 1.2em;
    line-height: 1.2em !important;
    padding-bottom: 1rem;
    text-decoration: none;
}

/* accordion toggle */
.et_pb_accordion_0 .et_pb_toggle {
    box-shadow: none !important;
}

.et_pb_toggle h5.et_pb_toggle_title {
    padding-right: 0 !important;
}

.et_pb_toggle_open h5.et_pb_toggle_title {
    color: #333;
    padding-right: 0 !important;
}

h5.et_pb_toggle_title {
    color: #333 !important;
    font-size: 1.1em;
    font-weight: 400 !important;
}

.et_pb_accordion_0.et_pb_accordion .et_pb_toggle {
    border: none;
}

.et_pb_module.et_pb_accordion.et_animated.et_pb_accordion_0.et_pb_text_align_center.flip {
    border: none;
    border-radius: 0.5em;
}


/* MISC */

/* IMAGES */
/* people page media query */
@media screen and (max-width:500px) {
    img.img-rounded-12.img-border-dark.alignright.mobile100 {
        display: block;
        margin: 1em 0 2em 0 !important;
        width: 100%;
    }
}

/* FONTAWESOME */
i.fa.fa-long-arrow-right {
    color: slategray;
}

/* TODO overqualified -- mobile dropdown remove indentation for sub-section items */
#main-header .et_mobile_menu li ul,
.et_pb_fullwidth_menu .et_mobile_menu li ul {
    display: block !important;
    padding-left: 0;
    visibility: visible !important;
}

/* center mobile menu items */
.et_mobile_menu li li {
    padding-left: 0 !important;
}

#main-header,
#main-header .nav li ul,
.et-search-form {
    background-color: rgba(255, 255, 255, 1);
}

/* HELPER CLASSES */

.tt-u {
    text-transform: uppercase;
}

.fw-b {
    font-weight: 600;
}

.small {
    font-size: 0.8em;
}

.medium {
    font-size: 1em;
}

.large {
    font-size: 1.5em;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.pull-none {
    float: none;
}

.align-top {
    display: table-cell;
    vertical-align: top;
}

.align-right {
    text-align: right;
}

.align-bottom {
    display: table-cell;
    vertical-align: bottom;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.unstyled {
    list-style: none;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.center {
    display: block;
    margin: 0 auto;
}

.round {
    border-radius: 9999em;
}

.mb1 {
    margin-bottom: 1em;
}

.mb2 {
    margin-bottom: 2em;
}

.mt1 {
    margin-top: 1em;
}

.mt2 {
    margin-top: 2em;
}

/* CUSTOMIZER */

.divi-subnav ul {
    list-style-type: none !important;
    margin-bottom: 0.1em;
    padding-bottom: 10px;
    padding-left: 0.5rem;
}

.et_pb_column_1_3 h4,
.et_pb_column_1_4 h4 {
    font-size: 20px;
}

.entry-content .divi-subnav ul li {
    list-style-type: none !important;
    margin-bottom: 0.25rem;
    margin-left: 0.5em;
}

.et_pb_contact p input,
.et_pb_contact p textarea {
    border: 1px #999 solid !important;
}

.et_pb_button:hover,
.et_pb_module .et_pb_button:hover {
    border: 2px #484848 solid;
    color: #fff !important;
    text-shadow: none !important;
}

.wp-caption p.wp-caption-text {
    font-size: 15px;
    margin: 0;
    padding: 0 4px 5px;
}

.et_pb_blog_grid .et_pb_post {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    float: left;
    margin: 0;
    padding: 1em;
    width: initial;
    word-wrap: break-word;
    /* border-top: 1px #fff solid; */
    ;
}

.et_pb_blurb h4:first-of-type {
    font-size: 1.2em;
    line-height: 1.2em !important;
    padding-bottom: 1rem;
    text-decoration: none;
}

/* fullwidth header */
.et_pb_fullwidth_header {
    padding: 30px 0;
}

.et_pb_fullwidth_header_subhead {
    font-size: 1.3rem;
}

.emboss {
    color: #484848;
    margin-bottom: 0.25em;
    text-shadow: 1px 1px 1px #fff;
    text-transform: uppercase !important;
}

.lightbox-link {
    font-size: 1.1rem !important;
    letter-spacing: 0.04em !important;
    margin-top: 0.5em !important;
}



@media screen and (max-width : 768px) {
    .et_pb_social_media_follow li {
        margin-left: 0.5em;
    }
}

.et_pb_slide_description .et_pb_slide_content {
    margin-bottom: 0 !important;
    padding: 40px 20px;
}

@media screen and (max-width:768px) {
    .et_pb_slide_description .et_pb_slide_content {
        padding: 40px 0 !important;
    }

    .et_pb_slider .et_pb_container {
        margin: 1em auto;
        max-width: 1080px;
        position: relative;
        width: 80%;
        z-index: 2;
    }

    .et_pb_button_wrapper {
        margin-bottom: 1em;
    }
}

@media screen and (max-width:768px) {
    .et_pb_social_media_follow li {
        margin-left: 1em !important;
    }
}

.et_pb_social_media_follow li:first-child {
    margin-left: 0;
}

#register {
    color: #cc202e !important;
}

.portelement_5 div.right-block .title-block_5 h3 {
    color: #315b7d !important;
}

.button-block a:hover {
    background: #386890;
    color: #fff !important;
    text-shadow: none !important;
}

.et_pb_slide_description .et_pb_slide_content {
    margin-bottom: 0 !important;
    padding: 40px 20px;
}

li.et_pb_social_icon.et_pb_social_network_link {
    margin-right: 1rem;
}

@media screen and (max-width:768px) {
    li.et_pb_social_icon.et_pb_social_network_link {
        margin-right: 0.25em;
    }

    li.et_pb_social_icon.et_pb_social_network_link.et-social-facebook.et_pb_social_media_follow_network_0 {
        margin-left: 0;
        padding-left: 0;
    }
}

ul.et_pb_social_media_follow {
    margin: 0;
    padding: 0;
}

.et_pb_testimonial_description h4 {
    color: #555;
    font-family: "aktiv-grotesk";
    font-weight: 300 !important;
    font-weight: 300;
    line-height: 1.4em;
}


/* footer*/
.footer-widget .title {
    clear: both;
    display: block;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    div#text-5 {
        margin-top: 0;
    }
}

/* breathing room at bottom on mobile */
@media screen and (max-width: 768px) {
    .et_pb_row:last-of-type {
        padding-bottom: 2em !important;
    }
}

/* fix repeated menu item Tuition Free on sm med device dropdown */
@media screen and (max-width:965px) {
    li#menu-item-10656 {
        display: none;
    }
}

/* white links for dark, branded background e.g. full-width header */
a.fire:link,
a.fire:visited {
    color: #fff !important;
    text-decoration: underline;
}

a.fire:hover {
    color: #fff !important;
    letter-spacing: inherit;
    text-decoration: none;
}
